	
	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>

<!--
	We request you retain the full copyright notice below including the link to www.phpbb.com.
	This not only gives respect to the large amount of time given freely by the developers
	but also helps build interest, traffic and use of phpBB3. If you (honestly) cannot retain
	the full copyright we ask you at least leave in place the "Powered by phpBB" line, with
	"phpBB" linked to www.phpbb.com. If you refuse to include even this then support on our
	forums may be affected.

	The phpBB Group : 2006
//-->

<div id="wrapfooter">
	<!-- IF U_ACP -->

<span class="gensmall">

<a href="{U_ACP}"
    onmouseover = "rollover('admin')" 
    onmouseout  = "rollout('admin')" 
    ><img 
    src="{T_THEME_PATH}/images/buttons/admin1.png" 
    name="admin" 
    alt="Admin" border="0" 
    height="38" width="180"
    /></a>
<script type="text/javascript">
<!--
setrollover("{T_THEME_PATH}/images/buttons/admin2.png");
//-->
</script>


</span>

<br /><br />
<!-- ENDIF -->

</div>

<table width="100%" style="height:99" border="0" cellpadding="0" cellspacing="0">
	<tr>
                 <td><img src="{T_THEME_PATH}/images/footer/f_01.png" width="81" height="99" alt="" /></td>
                 <td style="background:url({T_THEME_PATH}/images/footer/f_02.png) repeat;" width="100%" height="99"></td>
                 <td><img src="{T_THEME_PATH}/images/footer/f_03.png" width="82" height="99" alt="" /></td>
	</tr>
</table>


<table width="100%" style="height:89" border="0" cellpadding="0" cellspacing="0">
	<tr>
                 <td><img src="{T_THEME_PATH}/images/footer/f_10.png" width="81" height="89" alt="" /></td>
                 <td><a href="http://www.phpbb.com"><img src="{T_THEME_PATH}/images/footer/f_11.png" width="170" height="89" alt="" /></a></td>
                 <td style="background:url({T_THEME_PATH}/images/footer/f_12.png) repeat;" width="50%" height="89"></td>
                 <td><a href="http://www.skin-lab.com"><img src="{T_THEME_PATH}/images/footer/f_13.png" width="120" height="89" alt="" /></a></td>
                 <td style="background:url({T_THEME_PATH}/images/footer/f_12.png) repeat;" width="50%" height="89"></td>
                 <td><a href="http://www.skin-lab.com"><img src="{T_THEME_PATH}/images/footer/f_14.png" width="170" height="89" alt="" /></a></td>
                 <td><img src="{T_THEME_PATH}/images/footer/f_15.png" width="82" height="89" alt="" /></td>
	</tr>
</table>

<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
                 
<tr>
<td align="center">
<span class="copyright">Powered by <a href="http://www.skin-lab.com">Skin-Lab</a> &copy; Alpha Trion
<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
	<!-- IF DEBUG_OUTPUT --><br /><bdo dir="ltr">[ {DEBUG_OUTPUT} ]</bdo><!-- ENDIF --></span>
</td>
</tr>
</table>

</body>
</html>