<form method="post" action="{U_QR_ACTION}">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td><img src="{T_THEME_PATH}/images/box_01.png" width="41" height="48" alt="" /></td>
					<td style="background:url({T_THEME_PATH}/images/box_02.png) repeat;" width="50%" height="48"></td>
					<td style="background:url({T_THEME_PATH}/images/cu.png) repeat;" width="300" height="48"><h4 align="center">{L_QUICKREPLY}</h4></td>
					<td style="background:url({T_THEME_PATH}/images/box_02.png) repeat;" width="50%" height="48"></td>
					<td><img src="{T_THEME_PATH}/images/box_04.png" width="41" height="48" alt="" /></td>
				</tr>
			</table>
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td style="background:url({T_THEME_PATH}/images/box_08.png) repeat;" width="41" height="100%"></td>
					<td>
						<table class="tablebg" width="100%" cellspacing="1">
							<tr>
								<td class="row1" width="22%"><b class="genmed">{L_SUBJECT}:</b></td>
								<td  class="row2" width="78%"><input class="post" style="width:450px" type="text" name="subject" size="45" maxlength="64" tabindex="2" value="{SUBJECT}" /></td>
							</tr>
							<tr>
								<td class="row1" width="22%"><b class="genmed">{L_MESSAGE}:</b></td>
								<td class="row2" valign="top" align="left" width="78%"><textarea name="message" rows="7" cols="76" tabindex="3"  style="width: 98%;"></textarea> </td>
							</tr>
							<tr>
								<td class="cat" colspan="2" align="center">
									<input class="btnmain" type="submit" accesskey="s" tabindex="6" name="post" value="{L_SUBMIT}" />&nbsp;
									<input class="btnlite" type="submit" accesskey="f" tabindex="7" name="full_editor" value="{L_FULL_EDITOR}" />

									{S_FORM_TOKEN}
									{QR_HIDDEN_FIELDS}
								</td>
							</tr>
						</table>
					</td>
					<td style="background:url({T_THEME_PATH}/images/box_09.png) repeat;" width="41" height="100%"></td>
				</tr>
			</table>
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td><img src="{T_THEME_PATH}/images/box_10.png" width="41" height="46" alt="" /></td>
					<td style="background:url({T_THEME_PATH}/images/box_11.png) repeat;" width="100%" height="46"></td>
					<td><img src="{T_THEME_PATH}/images/box_13.png" width="41" height="46" alt="" /></td>
				</tr>
			</table>
		</td>
	</tr>
</table>	
</form>
<br clear="all" />